.Swap{
    .swap-header{
        font-size: 20px;
        padding: 15px;
        margin-left: 15px;
    }
    width: 500px;
    height: 335px;
    border-radius: 10px;
    background-color: #25213a;
    color: #fff
}