.SwapFrom{
    padding: 10px;
    border-bottom:3px solid #100f19;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-body{
        width: 385px;
        display: flex;
        &__currency, &__amount{
            display: flex;
            flex-direction: column;
        }
        &__currency{
            min-width: 100px;
        }
        &__amount{
            margin-left: 200px;
        }
        &__token-name, &__token-pay, &__balance, &__token-usd{
            color:#767484;
            font-size: 16px;
        }
        &__full-name, &__token-amount{
            font-size: 20px;
        }
    }
}