.SalesChart{
    position:relative;
    &__header{
        font-size: 22px;
        padding: 15px;
        margin-left: 25px;
    }
    &__amount{
        position: absolute;
        top:20px;
        right: 45px;
        font-size: 25px;
    }
    .revenue{
        position: absolute;
        right: 40px;
    }
    width: 550px;
    height: 355px;
    border-radius: 10px;
    background-color: #25213a;
    color: #fff;

}