@font-face {
    font-family: 'NeueMontreal';
    src: url('./assets/fonts/NeueMontreal-Regular.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('./assets/fonts/NeueMontreal-Light.otf') format('opentype');

    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'NeueMontreal';
    src: url('./assets/fonts/NeueMontreal-Bold.otf') format('opentype');

    font-weight: bold;
    font-style: normal;
}