.SwapBody{
    display: flex;
    flex-direction: column;
    position: relative;
    .change-icon__absolute{
        position: absolute;
        top:94px;
        left: 235px;
    }
    .swap-btn{
        position: absolute;
        top:220px;
        left: 50px;
        cursor: pointer;
        width: 400px;
        height: 30px;
        border-radius: 5px;
        outline: none;
        border: none;
        background-color: #414051;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        font-size: 17px;
    }
}